body {
  margin: 0px;
  height: 100vh;
}

.mainSection {
  height: 90vh;
}

.title {
}

h1 {
  font-family: "Limelight", cursive;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 55px;
  padding: 3px;
  border-radius: 15%;
  border: 8px double red;
  background-color: goldenrod;
  color: white;
  font-family: "Limelight", cursive;
  margin: 15px;
}

.startGame,
.endGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBackground {
  margin: 5px;
  border: 10px dotted goldenrod;
}
.cardDeck {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
}
.card {
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 25%;
  min-height: 85px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: 5px;
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.cardFront {
  border: 3px dotted white;
  background-color: black;
}
.cardBack {
  transform: rotateY(180deg);
}

.cardFlipped {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 472px) {
  .card {
    min-height: 75px;
  }

<<<<<<< HEAD
.mainSection {
    height: 80vh;
}
=======
  .mainSection {
    height: 70vh;
  }
>>>>>>> b35a26f5e705434b0c24505320d312c0b965b4a0

  .card-img {
    max-height: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 20%;
    min-height: 100px;
  }

  .cardDeck {
    padding: 30px;
  }

  .card-img {
    max-height: 100 px;
  }
}
