body {
  margin: 0px;
  height: 100vh;
}

.cardBackground {
  border: 2px dashed red;
  perspective: 600px;
}
.cardDeck {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.card {
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 20%;
  min-height: 85px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: 5px;
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.cardFront {
  border: 3px dotted white;
  background-color: black;
}
.cardBack {
  transform: rotateY(180deg);
}

.cardFlipped {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 472px) {
  .card {
    min-height: 75px;
  }

  .card-img {
    max-height: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 25%;
    min-height: 75px;
  }

  .cardDeck {
    padding: 30px;
  }

  .card-img {
    max-height: 75 px;
  }
}
